# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

config TLX493D
    bool "TLX493D 3D magnetic sensor"
    depends on I2C && INPUT
    help
      Enable driver for Infineon TLX493D 3D magnetic sensor.

if TLX493D
    config TLX493D_POLLING_INTERVAL_MS
        int "Polling interval in milliseconds"
        default 20
         help
          Polling interval for reading data from TLX493D.
endif # TLX493D
